<style>
	.bar-stable,
	.bar-header {
		display: none !important;
	}
</style>
<div class="bar bar-header" style="background: #FFF; border-color: #FFF;">&nbsp;</div>
<ion-view title="Добро пожаловать" animation="no-animation" scroll="false">
  <ion-content class="padding">
		<img src="img/logo.png" class="dchs__logo" alt="" />
		<div class="welcome__text">
			<strong>Добро пожаловать <br /> в приложение ДЧС Алматы!</strong>
			<p>Здесь вы сможете найти справочную информацию, как вести себя при ЧС. А так же отправить сигнал о помощи.</p>
		</div>
		<a href="#/intro-settings" class="button slider__button">Далее</a>
  </ion-content>
</ion-view>