<div class="bar bar-header bar-settings">
	<div ng-click="goBack()" class="settings__back">
		<button class="button icon-left button-small ion-chevron-left button-clear button-white"></button> О программе
	</div>
</div>
<ion-view title="О программе">
  <ion-content class="padding">
    <div>
  		<img src="img/logo.png" class="dchs__logo" alt="" />
  		<h4 class="info__title">ДЧС Алматы</h4>
  		<h4 class="info__version">Версия 1.0</h4>
    </div>
  </ion-content>
  <p class="info__copyright">© 2014 ДЧС Алматы. Все права защищены.</p>
</ion-view>