<div class="bar bar-header bar-settings">
	<div ng-click="goBack()" class="settings__back">
		<button class="button icon-left button-small ion-chevron-left button-clear button-white"></button> Настройки
	</div>
</div>
<ion-view title="Настройки">
  <ion-content class="padding settings__page">
    <ul class="list">
          <li class="item item-checkbox">
            GPS координаты
	            <label class="checkbox"><input type="checkbox" class="sos__gps" ng-model="sos__gps" ng-change="changeOptions('sos__gps', sos__gps)" ng-checked="{{sos__gps}}"></label>
          </li>
          <li class="item item-checkbox">
            Сигнал SOS вспышкой
            <label class="checkbox"><input type="checkbox" class="sos__flash" ng-model="sos__flash" ng-change="changeOptions('sos__flash', sos__flash)" ng-checked="{{sos__flash}}"></label>
          </li>
          <li class="item">
            Текст SMS сообщения
            <textarea placeholder="{{sos__message}}" maxlength="120" class="sos__message" ng-model="sosMessage" ng-blur="saveMessage(sosMessage)">{{sos__message}}</textarea>
          </li>
      </ul>
    <div class="item item-divider special-divider">
        Контакты для рассылки SMS
      </div>
    <ul class="list sos__contacts">
			<li ng-repeat="phone in phones" class="item" ng-click="removeContact($index)">
				{{phone.name}} <i class="icon-right ion-ios-close-outline"></i>
			</li>
		</ul>
    <div class="sos__contact-add" ng-if="phonesCount < 3" ng-click="addContact()">
      <i class="icon-left ion-ios-plus-outline"></i> Добавить контакт
    </div>
  </ion-content>
    <a href="#/info" class="settings__info">
      <i class="icon ion-ios-information-outline"></i> О программе
    </a>
</ion-view>
  
  
  <!--
      <div class="item item-divider special-divider">
        Тестовые данные
      </div>
      <ul class="list sos__test">
        
      </ul>
-->