<div class="bar bar-header bar-dark" ng-controller="TabController">
	<button ng-click="goBack();" class="button icon-left button-small ion-chevron-left button-clear button-white"></button>
	<div class="h1 title"><img src="img/logo_mini.png" class="logo__header" alt="" /><span class="logo__text">ДЧС АЛМАТЫ</span></div>
	<a href="#/settings" class="button button-icon icon ion-ios-gear-outline settings__button"></a>
</div>
<ion-tabs class="tabs-top tabs-background-dark tabs-color-blue">

  <ion-tab title="SOS" href="#/tab/sos">
    <ion-nav-view name="tab-sos"></ion-nav-view>
  </ion-tab>
  <ion-tab title="НОВОСТИ" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>
  <ion-tab title="ИНФО" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>


</ion-tabs>
